<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stock Analyzer</title>
</head>
<body>

    <h1>STOCK ANALYZER</h1>
    <h3>Your Finance Friend</h3>
    <hr>



    <!-- Search Section -->
    <h2>Search Investment</h2>
    <form action="/search" method="POST">
        <label for="stock">Stock / ETF / Fund / Index:</label><br>
        <input
            type="text"
            id="stock"
            name="stock"
            placeholder="NIFTY50, hindustan copper"
            required>
        <br><br>
        <button type="submit">Search Investment</button>
    </form>
    <hr>




    <!-- Stock Information -->
<h2>Investment Information</h2>
<div id="stock-info">

{% if error %}
    <p>{{ error }}</p>
{% elif stock %}
    <p>Name: {{ name }}</p>
    <p>Ticker: {{ symbol }}</p>
    <p>Current Price: {{ price }}</p>
    <p>Asset Type: {{ asset_type }}</p>
{% else %}
    <p>Search a stock, ETF, fund or index.</p>
{% endif %}

</div>





    <!-- Explanation Section -->
    <h2>Explain This Investment</h2>
    <div id="explanation">
        {%if explanation%}

            <p>{{explanation}}</p>
        {%else%}
            <p>The stock has no data available</p>

        {%endif%}
    </div>
    <hr>




    <!-- Historical Performance -->
    <h2>Historical Performance</h2>
    <div id="default-performance">
        <p>1 Year Return: --</p>
        <p>3 Year Return: --</p>
        <p>5 Year Return: --</p>
        <p>
            Performance graph will appear here.
        </p>
    </div>
    <hr>




<!-- Custom Performance Analysis -->
<h2>Custom Performance Analysis</h2>
<form action="/duration" method="POST">
    <label for="start_year">
        Start Year:
    </label><br>
    <input
        type="number"
        id="start_year"
        name="start_year"
        min="1900"
        max="2100"
        placeholder="1977"
        required>
    <br><br>

    <label for="end_year">
        End Year:
    </label><br>

    <input
        type="number"
        id="end_year"
        name="end_year"
        min="1900"
        max="2100"
        placeholder="1987"
        required>
   <br><br>

    <button type="submit">
        Analyze Performance
    </button>
</form>

<div id="custom-performance">
    <p>
        Performance between the selected years
        will be displayed here.
    </p>
</div>
    <hr>





    <!-- Investment Calculator -->
    <h2>Investment Calculator</h2>

    <form action="/calculator" method="POST">

    <label for="amount">
        Investment Amount (₹):
    </label><br>

    <input
        type="number"
        id="amount"
        name="amount"
        min="1"
        placeholder="10000"
        required>

    <br><br>

    <button type="submit">
        Calculate
    </button>

    </form>

    <div id="investment-result">

        <p>Investment Amount: --</p>

        <p>Current Value: --</p>

        <p>Profit / Loss: --</p>

        <p>
            Growth chart will appear here.
        </p>

    </div>

    <hr>

    

</body>
</html>